<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport" content="maximum-scale=1.0, user-scalable=no">
    <meta name = "mobile-web-app-capable" content="yes" />
    <meta name = "apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" size="192x192" href="../img/bus-icon.svg">
    <link rel = "apple-touch-icon" href="../img/bus-icon.svg">
    <link rel="shourtcut icon" href="../img/bus-icon.svg" type="image/x-icon">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/mappy.css">
    <link rel="stylesheet" href="../font/fontawesome-all.css">

    <link rel="stylesheet" href="mdl/material.css">
    <script src="mdl/material.js"></script>

    <title>Add</title>
</head>
<body>

    <div class="row action-page">
        <div class="col-sm-12">
            <h1>Add a Route</h1>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>

</body>
</html>