<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport" content="maximum-scale=1.0, user-scalable=no">
    <meta name = "mobile-web-app-capable" content="yes" />
    <meta name = "apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" size="192x192" href="../img/bus-icon.svg">
    <link rel = "apple-touch-icon" href="../img/bus-icon.svg">
    <link rel="shourtcut icon" href="../img/bus-icon.svg" type="image/x-icon">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/mappy.css">
    <link rel="stylesheet" href="../font/fontawesome-all.css">
    <link rel="stylesheet" href="mdl/material.css">
    <script src="mdl/material.js"></script>

    <title>All Routes</title>
</head>
<body>


<div class="row mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="mdl-layout__header mdl-color--yellow-A100">
        <div class="mdl-layout__header-row mdl-color-text--indigo-400">
            <div class="col-sm-9">
                All Routes
            </div>
            <div class="col-sm-3 icon-col">
                <button id = "home" class="mdl-button mdl-js-button mdl-button--icon"><i class="fas fa-home"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="mdl-layout__content">
    <div class="row">
        <div class="col-sm-9">
            <a href="#">Route 1</a>
        </div>
        <div class="col-sm-3">
           45 min
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <a href="#">Weekend</a>
        </div>
        <div class="col-sm-3">
            50 min
        </div>
    </div>

    <div class="row">
        <div class="col-sm-9">
            <a href="#">City Center</a>
        </div>
        <div class="col-sm-3">
            27 min
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 call-to-action">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>
</div>

</body>
</html>