<script>
    var route = JSON.parse('{{paste}}'.replace(/&quot;/g,'"'));
    var myLocation = {lat: 55.8642, lng:-4.2518};
    var map, marker, radiusCircle, busStopOrigin, busStopDestination;
    var checkedInFlag = false;
    var acceptedDistance = 1000;

    function initMap() {
        if (navigator.geolocation) {
            console.log('got location');
            map = new google.maps.Map(document.getElementById('map'), {
                center: myLocation,
                zoom: 15
            });
            marker = new google.maps.Marker({
                position: myLocation,
                map: map,
                title: "You are here - tap to update"
            });
            radiusCircle = new google.maps.Circle({
                strokeColor: '#3333FF',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#AAAAFF',
                fillOpacity: 0.35,
                map: map,
                center: myLocation,
                radius: acceptedDistance
            });
            var icon = {
                url: "images/bus-stop.png", // url
                scaledSize: new google.maps.Size(50, 50), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            };
            busStopOrigin = new google.maps.Marker({
                position: route.origin,
                map: map,
                title: route.origin.stopName,
                icon: icon
            });
            busStopDestination = new google.maps.Marker({
                position: route.destination,
                map: map,
                title: route.destination.stopName,
                icon: icon
            });
            //start at the origin for testing
            //setPosition({coords: {latitude: route.origin.lat, longitude: route.origin.lng, accuracy: 100}})
            //or get your real location
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            console.log('Location unavilable');
            alert("Geolocation is not supported by this browser.");
        }
    }

    function redeemXP(){
        $('#checkIn').off('click');
        $.post("php/routeCompleted.php",
            {
                username: user.name,
                xp: route.xp
            },
            function(data, status){
                //give message and go back to home page
                user.xp += route.xp;
                $('#message').html("Congrats, you've gained " + route.xp + " XP!");
                setTimeout(function(){
                    loadTemplate('home');
                }, 1500);
            }).fail(function(){
            $('#message').html('There was an error');
            console.log("Fail");
        });
    }

    function checkIn(){
        var distanceOrigin = calculateDistance(myLocation, route.origin);
        var distanceDestination = calculateDistance(myLocation, route.destination);
        console.log('Checking in...');
        if (checkedInFlag){
            if (route.origin.checkedIn === true){
                if (distanceDestination <= acceptedDistance){
                    //redeem xp
                    //submit xp gains to database
                    redeemXP();
                }
                else {
                    $('#message').html("You're not quite close enough to " + route.destination.stopName);
                    document.getElementById('dialog').showModal();
                }
            }
            else {
                //checked in at destination
                if (distanceOrigin <= acceptedDistance){
                    //redeem xp
                    //submit xp gains to database
                    redeemXP();
                }
                else {
                    $('#message').html("You're not quite close enough to " + route.origin.stopName);
                    document.getElementById('dialog').showModal();
                }
            }
        }
        else { // first check in stop
            if (distanceOrigin < distanceDestination){
                //closer to "origin" stop
                if (distanceOrigin <= acceptedDistance){
                    //checking in at origin bus stop
                    checkedInFlag = true;
                    route.origin.checkedIn = true;
                    //todo change origin icon
                    busStopOrigin.setMap(null);

                    //fixme test code forces position to change
                    //setPosition({coords: {latitude:route.destination.lat, longitude: route.destination.lng, accuracy:100}});

                }
                else {
                    $('#message').html("You're not quite close enough to " + route.origin.stopName);
                    document.getElementById('dialog').showModal();
                }
            }
            else {
                //closer to destination
                if (distanceDestination < acceptedDistance){
                    //checking in at destination bus stop
                    checkedInFlag = true;
                    route.destination.checkedIn = true;
                    //todo change destination icon
                    busStopDestination.setMap(null);

                    //fixme test code forces position to change
                    //setPosition({coords: {latitude: route.origin.lat, longitude: route.origin.lng, accuracy: 100}})
                }
                else {
                    //show message to say not close enough
                    $('#message').html("You're not quite close enough to " + route.destination.stopName);
                    document.getElementById('dialog').showModal();
                }
            }
        }
    }

    function setPosition(position) {
        console.log(position);
        myLocation.lat = position.coords.latitude;
        myLocation.lng = position.coords.longitude;

        acceptedDistance = position.coords.accuracy;
        radiusCircle.setRadius(acceptedDistance);

        marker.setPosition(myLocation);
        radiusCircle.setCenter(myLocation);
        map.panTo(myLocation);

        //changes the bounds of map to fit the user location & 2 bus stops markers
        var bounds = new google.maps.LatLngBounds();
        bounds.extend(marker.getPosition());
        bounds.extend(busStopOrigin.getPosition());
        bounds.extend(busStopDestination.getPosition());

        map.fitBounds(bounds);

        marker.addListener("click", function(){
            console.log('marker tapped');
            navigator.geolocation.getCurrentPosition(setPosition);
        });
    }

    function calculateDistance(point1, point2){
        var R = 6371e3; // metres
        var lat1 = toRadians(point1.lat);
        var lat2 = toRadians(point2.lat);
        var deltaLat = toRadians(point2.lat-point1.lat);
        var deltaLon = toRadians(point2.lng-point1.lng);

        var a = Math.sin(deltaLat/2) * Math.sin(deltaLat/2) +
            Math.cos(lat1) * Math.cos(lat2) *
            Math.sin(deltaLon/2) * Math.sin(deltaLon/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

        return R * c;
    }

    function toRadians(degrees)
    {
        var pi = Math.PI;
        return degrees * (pi/180);
    }

    $('#checkIn').click(checkIn);

    (function() {
        var okButton = document.getElementById('ok');
        var dialog = document.getElementById('dialog');

        // Form cancel button closes the dialog box
        okButton.addEventListener('click', function() {
            dialog.close();
        });
    })();

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRGwsaCzyyexZZlgf5UkrodRhlkydlKC8&libraries=places&callback=initMap"
        async defer></script>