<script>

    var origin, destination, time;

    function nameUpdated(){
        var button = document.getElementById('save-route');
        if (document.getElementById('route-name').value.trim()){
            button.disabled = false;
        }
        else {
            button.disabled = true;
        }
    }

    function sendRouteToDatabase(route) {
        var dataString = 'username='+encodeURI(user.name)+'&route='+encodeURI(JSON.stringify(route));
        $.ajax({
            url: 'php/postRoute.php',
            dataType: 'json',
            type: 'post',
            data: dataString,
            processData: false,
            success: function( data, textStatus, jQxhr ){
                if (data.session_timeout){
                    console.log('session timeout');
                    loadTemplate('login');
                }
                else {
                    user.routes.push(route);
                    loadTemplate('home');
                }
            },
            error: function( jqXhr, textStatus, errorThrown ){
                console.log( errorThrown );
                console.log(textStatus);
            }
        });
    }

    function saveRoute(){
        var route = {origin: origin, destination: destination};
        var name = document.getElementById('route-name').value.trim();

        function uniqueRouteName(name) {
            var i;
            for (i in user.routes){
                if (user.routes[i].name.trim().toLowerCase() === name.toLowerCase()){
                    return false;
                }
            }
            return true;
        }

        if (uniqueRouteName(name)){
            route.name = name;
            route.xp = 250; // default value
			route.time = time;
            sendRouteToDatabase(route);
        }
        else {
            $('#message').html('You already have a route with that name')
        }
    }

    //creates map and adds the two markers
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: 'roadmap'
        });

        //gets origin and destination from routeModel
        var route = getRoute();
        origin = route.origin;
        destination = route.destination;

        var markers = [];
        //adds origin marker
        markers.push(new google.maps.Marker({
            map: map,
            title: "origin",
            position: origin
        }));
        //adds destination marker
        markers.push(new google.maps.Marker({
            map: map,
            title: "destination",
            position: destination
        }));

		var directionsService = new google.maps.DirectionsService();
			var directionsDisplay = new google.maps.DirectionsRenderer();
			var service = new google.maps.DistanceMatrixService();
			var request = {
				origin: origin,
				destination: destination,
				travelMode: 'TRANSIT',
				transitOptions: {modes: ['BUS']}
				};
				
			directionsService.route(request, function(result, status) {
				if (status == 'OK') {
					directionsDisplay.setDirections(result);
					console.log(result.duration_in_traffic);
				}
			});
			
			var timeRequest = {
			origins: [origin],
			destinations: [destination],
			travelMode: 'TRANSIT',
			transitOptions: {modes: ['BUS']}};
			
			service.getDistanceMatrix(timeRequest, function(result, status) {
				if (status = 'OK') {
					time = result.rows[0].elements[0].duration.text;
				}
			});
			
			directionsDisplay.setMap(map);
		
        //changes the bounds of map to fit the two markers
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0; i < markers.length; i++) {
            bounds.extend(markers[i].getPosition());
        }

        map.fitBounds(bounds);


    }

    function getRoute() {
        //using mustache to bind the data from the previous page (new-route)
        origin = {stopName: "{{origin.name}}" ,lat: {{origin.lat}}, lng: {{origin.lng}}};
        destination = {stopName: "{{destination.name}}" , lat: {{destination.lat}} , lng: {{destination.lng}}  };

        return {origin: origin, destination: destination};

    }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRGwsaCzyyexZZlgf5UkrodRhlkydlKC8&libraries=places&callback=initMap"
        async defer></script>