<form action="php/logout.php"><button type="submit">Logout</button></form>
<button onclick="loadTemplate('prizes')">{{xp}} XP available - go to prizes</button>
{{#routes.length}}
    <header>
        {{name}}'s Routes
    </header>
    {{#routes}}
        <div id="route-{{name}}" onclick="showRoute('{{name}}')"> {{name}} | {{origin.stopName}} - {{destination.stopName}} | {{xp}}</div>
        <hr>
    {{/routes}}
{{/routes.length}}
{{^routes.length}}
    <header>
        Add New Route
    </header>
{{/routes.length}}
<button id="addNewRoute" onclick="loadTemplate('new-route')"> + </button>