<form id="signin" method="post">
    <p>Sign In</p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" maxlength="20"/>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" maxlength="20"/>
    <input type="submit" name="submit" value="submit"/>
    <div id="error-message"></div>
</form>

<p>Not registered? Sign up <a href="#" onclick="loadTemplate('signup')">here</a></p>
<script>
 
        var request;

        $("#signin").submit(function(event){

            // Prevent default posting of form - put here to work in case of errors
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }
            // setup some local variables
            var $form = $(this);

            // Let's select and cache all the fields
            var $inputs = $form.find("username, password");

            // Serialize the data in the form
            var serializedData = $form.serialize();

            // Let's disable the inputs for the duration of the Ajax request.
            // Note: we disable elements AFTER the form data has been serialized.
            // Disabled form elements will not be serialized.
            $inputs.prop("disabled", true);

            // Fire off the request to /form.php
            request = $.ajax({
                url: "php/signin.php",
                type: "post",
                data: serializedData
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR){
                // Log a message to the console
                if (response.username){
                    //successful login
                    loadTemplate('map',true);
                }
                else {
                    $('#error-message').html(response.msg);
                    //show error message
                }
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown){
                // Log the error to the console
                console.error(
                    "The following error occurred: "+
                    textStatus, errorThrown
                );
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                // Reenable the inputs
                $inputs.prop("disabled", false);
            });

        });

</script>