<h1>{{name}}'s location:</h1>

<div style="width:100%; height:100%;" id="google-map">

</div>

<button click="next()">Next!</button>
</p>
<script>

    var map;
    var stopsNearUrl = "https://transportapi.com/v3/uk/bus/stops/near.json?app_id=e563ffce&app_key=7d1b8ac66b8c96945c1e608dd55a47ff&page=1&rpp=50";

    var myLocation = {lat: {{position.lat}}, lng: {{position.lng}}};

    function initMap() {//called back when google maps has finished loading
        console.log(myLocation);
        map = new google.maps.Map(document.getElementById('google-map'), {
            zoom: 15,
            center: myLocation
        });

        var marker = new google.maps.Marker({
            position: myLocation,
            map: map,
            title: 'You are here',
            icon: {
                url: "images/ped.png", // url
                scaledSize: new google.maps.Size(30, 30), // scaled size
                origin: new google.maps.Point(0,0), // origin
                anchor: new google.maps.Point(0, 0) // anchor
            }
        });
        getNearbyBusStops(function(stopData){
            var marker, i, stops = stopData.stops;
            console.log(stops);
            for (i in stops){
                //add a marker for this stop (keep a reference and use marker.setMap(null) to remove it)
                marker = new google.maps.Marker({
                    position: {lat: stops[i].latitude, lng: stops[i].longitude},
                    map: map,
                    title: stops[i].stop_name
                });
            }
        });
    }

    function getNearbyBusStops(callback){
        $.ajax({url: stopsNearUrl + "&lat=" + myLocation.lat + "&lon=" + myLocation.lng, success: callback});
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRGwsaCzyyexZZlgf5UkrodRhlkydlKC8&callback=initMap">
</script>


