<script>
    var searchBox, map;
    // This example adds a search box to a map, using the Google Place Autocomplete
    // feature. People can enter geographical searches. The search box will return a
    // pick list containing a mix of places and predicted search terms.

    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    function initAutocomplete() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 55.8674, lng: -4.251},
            zoom: 15,
            mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('pac-input');
        searchBox = new google.maps.places.SearchBox(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // Clear out the old markers.
            markers.forEach(function(marker) {
                marker.setMap(null);
            });
            markers = [];

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }
                var icon = {
                    url: place.icon,
                    size: new google.maps.Size(71, 71),
                    origin: new google.maps.Point(0, 0),
                    anchor: new google.maps.Point(17, 34),
                    scaledSize: new google.maps.Size(25, 25)
                };

                // Create a marker for each place.
                markers.push(new google.maps.Marker({
                    map: map,
                    icon: icon,
                    title: place.name,
                    position: place.geometry.location
                }));

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
                searchFromLocation();
            });
            map.fitBounds(bounds);
        });
    }


    var selectingOrigin = true;
    var originLatLng;
    var activeMarkerList = [];
    var stopsNearUrl = "https://transportapi.com/v3/uk/bus/stops/near.json?app_id=e563ffce&app_key=7d1b8ac66b8c96945c1e608dd55a47ff&page=1&rpp=50";
    var origin, destination;

    function selectOrigin(){
        selectingOrigin = true;
        clearAllMarkers();
        $('#message').html('Select a starting location');
    }

    function clearAllMarkers(){
        var x;
        for (x in activeMarkerList){
            activeMarkerList[x].setMap(null);
        }
        activeMarkerList = [];
    }

    function addMarkerListener(marker) {
        marker.addListener('click', function(){
            if (selectingOrigin){
                originLatLng = {name: marker.name, lat: marker.position.lat(), lng: marker.position.lng()};
                selectingOrigin = false;
                clearAllMarkers();
                $('#message').html('Select a destination <button onclick="selectOrigin()">Back</button>');
            }
            else {
                //destination selected
                //custom redirect
                var destinationLatLng = {name: marker.name, lat: marker.position.lat(), lng: marker.position.lng()};
                var routeObject = {origin: originLatLng, destination: destinationLatLng};
                console.log(routeObject);
                $.get( 'templates/confirm-route.template.html', function( template ) {
                    //use mustache to bind the template and data
                    var html = Mustache.to_html(template, routeObject);
                    //insert the resulting html in the element with id="page-content"
                    $('#page-content').html(html);
                });
                //if the script flag is set, fetch the scripts too!
                $.get( 'templates/confirm-route.scripts.html', function( template ) {
                    //use mustache to bind the template and data
                    var html = Mustache.to_html(template, routeObject);
                    //insert the resulting html in the element with id="scripts"
                    $('#scripts').html(html);
                });
            }
        })
    }


    function searchFromLocation() {
        if(activeMarkerList.length){
            clearAllMarkers();
        }
        var places = (searchBox.getPlaces());
        if (typeof places !== 'undefined'){
            console.log(places);
            var location = places[0].geometry.location;
            console.log(places[0].geometry.location.lat());
            origin = ({lat: location.lat(), lng: location.lng()});
            activeMarkerList = [];
            getNearbyBusStops(origin, function(stopData){
                var marker, i, stops = stopData.stops;
                console.log(stops);
                for (i in stops){
                    //add a marker for this stop (keep a reference and use marker.setMap(null) to remove it)
                    marker = new google.maps.Marker({
                        position: {lat: stops[i].latitude, lng: stops[i].longitude},
                        map: map,
                        title: stops[i].stop_name
                    });
                    marker.name = stops[i].name;
                    addMarkerListener(marker);
                    activeMarkerList.push(marker);
                }
            });
        }

    }

    function getNearbyBusStops(latLng, callback){
        $.ajax({url: stopsNearUrl + "&lat=" + latLng.lat + "&lon=" + latLng.lng, success: callback});
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRGwsaCzyyexZZlgf5UkrodRhlkydlKC8&libraries=places&callback=initAutocomplete"
        async defer></script>