<script>

    console.log("loaded");

        request = $.ajax({
            url: "php/prizes.php",
            type: "post",
            dataType: "json"
        });

        request.done(function (response, textStatus, jqXHR) {
            console.log(response);
            if(response.prizes){
               var prizes = JSON.parse(response.prizes);
               var prizesToUsers = response.ptu;
               console.log(prizes);
               fillRows(prizes, prizesToUsers);
            }
            else{
                $('#error-message').html(response.msg);
                console.log("adbabdbadb");
            }
        });

        request.fail(function (jqXHR, textStatus, errorThrown) {
            //Log the error to the console
            console.error(
                "The following error occurred: "+
                    textStatus, errorThrown, jqXHR
            );

        });

        function fillRows(prizes, prizesToUsers) {
            var prizesLength = prizes.length;
            var ptuLength =  prizesToUsers.length;
            for (var i = 0; i < prizesLength; i++){
                document.getElementById('prizes').innerHTML += prizes[i]["PrizeName"];
                document.getElementById('prizes').innerHTML += '</br>'
            }
        }


</script>