<button onclick="loadTemplate('home')">Home</button>
<div id = "points">
You have {{userXP}} XP points
</div>

<div id="prizes">
    {{#prizes.length}}
        {{#prizes}}
            <div> {{PrizeName}} | {{PointsRequired}} points required
                <button type="button"
                    {{#redeemed}}
                        disabled
                    {{/redeemed}}
                >Redeem</button>
                <img src="{{PrizePic}}" />
            </div>
        {{/prizes}}
    {{/prizes.length}}

</div>
<div id="error-message"></div>