<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport" content="maximum-scale=1.0, user-scalable=no">
    <meta name = "mobile-web-app-capable" content="yes" />
    <meta name = "apple-mobile-web-app-capable" content="yes" />

    <link rel="icon" size="192x192" href="../img/bus-icon.svg">
    <link rel = "apple-touch-icon" href="../img/bus-icon.svg">
    <link rel="shourtcut icon" href="../img/bus-icon.svg" type="image/x-icon">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/mappy.css">
    <link rel="stylesheet" href="../font/fontawesome-all.css">
    <title>Search</title>
</head>
<body>
     <div class="row">
         <div class="col-sm-12">
             <form>
                 <input type="text" name="from">
             </form>
         </div>
     </div>
     <div class="row">
         <div class="col-sm-12">
             <form>
                 <input type="text" name="to">
             </form>
         </div>
     </div>
    <div class="row results">
        <div class="col-sm-12">
            <!-- list of results which match criteria -->
        </div>
    </div>
</body>
</html>