<script>
	function validateForm(){
        var uname = document.getElementById("new-username");
        var pword = document.getElementById("new-password");
        var repword = document.getElementById("new-reenterpassword");
        if (!uname.value){
            $('#error-message').html("Username required");
            return false;
        }
        if (!pword.value){
            $('#error-message').html("Password required");
            return false;
        }
		if (!repword.value){
            $('#error-message').html("Re-enter password required");
            return false;
        }
		if (pword.value != repword.value){
            $('#error-message').html("Passwords did not match, please enter again.");
            return false;
        }
        return true;
    }

    var request;

    $("#signup").submit(function(event){
        // Prevent default posting of form - put here to work in case of errors
        event.preventDefault();

        if(!validateForm()){
            return;
        }

        // Abort any pending request
        if (request) {
            request.abort();
        }
        // setup some local variables
        var $form = $(this);

        // Let's select and cache all the fields
        var $inputs = $form.find("username, password, reenterpassword");

        // Serialize the data in the form
        var serializedData = $form.serialize();

        // Let's disable the inputs for the duration of the Ajax request.
        // Note: we disable elements AFTER the form data has been serialized.
        // Disabled form elements will not be serialized.
        $inputs.prop("disabled", true);

        // Fire off the request to /form.php
        request = $.ajax({
            url: "php/signup.php",
            type: "post",
            data: serializedData
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR){
            // Log a message to the console
            if (response.result){
                //successful registration -> could potentially do auto login
                loadTemplate('login');
            }
            else {
                $('#error-message').html(response.msg);
            }
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown){
            // Log the error to the console
            console.error(
                "The following error occurred: "+
                textStatus +" "+errorThrown
            );
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
            // Reenable the inputs
            $inputs.prop("disabled", false);
        });

    });
</script>